#container {
  display: flex;
  justify-content: space-evenly;
  padding-left: 30px;
}

#container1 {
  display: flex;
  justify-content: center;
  margin: 0, 20px;
}

#leftbox {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-right: 30px;
}

#innerbox{
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 400px;
}

#rightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #30384D;
    border-radius: 10px;
    width: 30%;
    padding-top: 10px;
    margin-left: 50px;
}

#button {
  border-radius: 5px;
  background: linear-gradient(
    55deg,
    rgba(191, 196, 238, 0.09) 15.52%,
    #c367e6 58.75%,
    rgba(190, 206, 239, 0) 100%
  );
}

#container2{
    display: flex;
    justify-content: end;
    padding-right: 280px;
}

#innerbox1{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#innerbox4{
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding-top: 10px;
    font-size: x-small;
}


